In [1]:
# Import dependencies
import pandas as pd
import gmaps
import requests
# Import API key
from config import g_key

In [2]:
# Store the CSV created in part one into a DataFrame
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Carutapera,BR,2022-05-03 19:39:38,-1.1950,-46.0200,77.34,93,100,5.46
1,1,Chokurdakh,RU,2022-05-03 19:39:39,70.6333,147.9167,27.16,96,100,3.94
2,2,Kapaa,US,2022-05-03 19:35:53,22.0752,-159.3190,79.12,78,40,16.11
3,3,Rikitea,PF,2022-05-03 19:39:40,-23.1203,-134.9692,77.54,77,100,17.52
4,4,Hermanus,ZA,2022-05-03 19:35:20,-34.4187,19.2345,62.15,93,0,7.67

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [12]:
# Create a Maximum Temperature Heatmap
# 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude,longitude]
# Get the lat and long
locations = city_data_df[['Lat','Lng']]

# 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# Get the max temp
max_temp = city_data_df['Max Temp']
# Remove negative temperatures
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

# 3. Assign the figure variable to the gmaps.figure() attribute.
# Zoom and center on all inhabitable places.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# remove dissipation and add max intensity
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],
                                   dissipating=False, max_intensity=300, point_radius=4)
# change to accomodate non-negative temps
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temps)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Create % Humidity Heatmap
locations = city_data_df[['Lat','Lng']]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                   dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Create % Cloudiness Heatmap
locations = city_data_df[['Lat','Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heatmap_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                   dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Create Wind Speed Heatmap
locations = city_data_df[['Lat','Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heatmap_layer = gmaps.heatmap_layer(locations, weights=wind,
                                   dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add min/max temp values
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip?  63
What is the maximum temperature you would like for your trip?  81

In [17]:
# Filter the dataset to find cities that fit criteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) &
                                       (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Carutapera,BR,2022-05-03 19:39:38,-1.1950,-46.0200,77.34,93,100,5.46
2,2,Kapaa,US,2022-05-03 19:35:53,22.0752,-159.3190,79.12,78,40,16.11
3,3,Rikitea,PF,2022-05-03 19:39:40,-23.1203,-134.9692,77.54,77,100,17.52
6,6,Albany,US,2022-05-03 19:39:41,42.6001,-73.9662,65.88,57,100,4.00
7,7,San Juan,AR,2022-05-03 19:39:42,-31.5375,-68.5364,74.86,18,0,5.48
10,10,Hami,CN,2022-05-03 19:39:44,42.8000,93.4500,70.95,13,28,1.41
12,12,Malinyi,TZ,2022-05-03 19:39:44,-8.9333,36.1333,70.39,85,98,2.19
13,13,Moerai,PF,2022-05-03 19:39:45,-22.4333,-151.3333,77.68,85,100,20.09
15,15,Mayor Pablo Lagerenza,PY,2022-05-03 19:39:46,-19.9309,-60.7718,76.57,32,19,9.91
16,16,Sao Filipe,CV,2022-05-03 19:39:47,14.8961,-24.4956,73.31,76,0,9.66

In [18]:
preferred_cities_df.count()

City_ID       188
City          188
Country       187
Date          188
Lat           188
Lng           188
Max Temp      188
Humidity      188
Cloudiness    188
Wind Speed    188
dtype: int64

In [20]:
# Get Travel Destinations
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[['City','Country','Max Temp','Lat','Lng']].copy()
hotel_df['Hotel Name']=''
hotel_df.head()

         City Country  Max Temp      Lat       Lng Hotel Name
0  Carutapera      BR     77.34  -1.1950  -46.0200
2       Kapaa      US     79.12  22.0752 -159.3190
3     Rikitea      PF     77.54 -23.1203 -134.9692
6      Albany      US     65.88  42.6001  -73.9662
7    San Juan      AR     74.86 -31.5375  -68.5364

In [26]:
# Retrieve Hotels from a Nearby Search
# Set parameters to search for a hotel.
params = {
    'radius':5000,
    'types':'lodging',
    'key':g_key}

# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the lat and long.
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the lat/lng to location key for params dictionary.
    params['location']=f'{lat},{lng}'
    
    # Use hte search term: 'lodging' and our lat/lng
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    # Make requests and get JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Carutapera,BR,77.34,-1.1950,-46.0200,Lidera
2,Kapaa,US,79.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,Rikitea,PF,77.54,-23.1203,-134.9692,People ThankYou
6,Albany,US,65.88,42.6001,-73.9662,
7,San Juan,AR,74.86,-31.5375,-68.5364,Hotel Provincial
10,Hami,CN,70.95,42.8000,93.4500,Laoyutang Resort
12,Malinyi,TZ,70.39,-8.9333,36.1333,
13,Moerai,PF,77.68,-22.4333,-151.3333,Le Manotel
15,Mayor Pablo Lagerenza,PY,76.57,-19.9309,-60.7718,
16,Sao Filipe,CV,73.31,14.8961,-24.4956,Hotel Xaguate

In [30]:
# Create max temp heatmap from hotel dataframe

# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[['Lat','Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
info_box_template = '''
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}F</dd>
</dl>
'''

In [32]:
# Store the dataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[['Lat','Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))